/* start custom scss snippet */
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
.cdcover
{
    margin: 0 auto;
    display: block;
	width: 500px;
}
/* end custom scss snippet */
